.containerNav{
    width: 15vw ;
    min-width: 200px;
    display: flex;
    height: 88vh;
    flex-direction: column;
    align-items: center;
    
    gap: 20px;
    border-right:  solid 2px #CEC1AA;
}

.buttonBacklog{
    width: 150px;
    height: 40px;
    background-color: rgba(202, 131, 50, 0.5);
    border-radius: 4px 20px 20px 4px ;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 10px;
    margin-top: 20px;
}

.buttonBacklog:hover ,
.buttonAddSpring:hover {
    background-color: rgba(202, 131, 50);
}

.springSpace{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.springSpace__title{
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: solid 2px rgba(202, 131, 50, 0.5);
    padding-bottom: 10px;
}

.buttonAddSpring{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(202, 131, 50, 0.5);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
