.containerHeader{
    background-color: #CEC1AA;
    width: 100vw;
    height: 10vh;
    min-height: 73px;
    display: flex;
    align-items: center;
    padding: 0 20px 0;
    gap: 20px;
}

.HeaderLogo{
    max-width: 70px;
}

.HeaderSubTitle{
    font-size: 1.4rem ;
}